/*
1. Global CSS
2. Header CSS
	2.1 - Navigation Menu
3. Sign in section
4. Footer Section
*/

/* Global CSS */
body{
	font-family: 'Roboto Slab', serif;
	background-color: #EDEFF1;

}
.center{
	margin: 0 auto;
	display: block;
}
a:hover{
	text-decoration: none;
}
/* Navigation Menu */
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    margin: 0;
    height: 85px;
    font-size: 25px;
}
.navbar {
    border-radius: 0px;
    font-family: 'Bangers', cursive;
}
.navbar-right {
    padding-top: 16px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a{
    color: #000;
    background-color: transparent;
    margin-right: 20px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #8f312f;
    border-radius: 50px;
	transition: 0.5s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #8f312f;
    border-radius: 50px;
}



/* Background Section */
.bg-img{
	background: url("../images/login.jpg") no-repeat;
	background-size: cover;
}
.bg-img h1{
	color: #fff;
	padding-top:50px;

	font-size: 50px;
}
.bg-img h4{
	color: #fff;
	margin-bottom: 20px;
}
.bg-img h2{
	color: #fff;
	font-size: 30px;
}
.bg-img p{
	color: #fff;
}
.bg-img a{
	color: white;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group{
    margin-left: -15px;
    border-radius: 50px;
    height: 45px;
    padding: 0px 20px;
    background-color: #8f312f;
    border: none;
}

.btn-danger:hover {    
    height: 50px;
    transition: 0.4s;
    padding-left: 20px;
    padding-right: 20px;
        
}
.btn-danger a{
	color:cornsilk;
}

.btn-danger a:hover{
	color:burlywood;

}






/* contactus section starts*/


.contact{
	margin: 30px 0px;
}

/* contactus section section ends*/




/* Footer Section CSS */
footer{
	background: #8f312f;
	padding: 50px 0px;
	font-size: 12px;
}
footer ul li{
	list-style: none;
}
footer li{
	color: #fff;
	line-height: 30px;
}
footer ul li a{
	color: #fff;
}
footer ul li a:hover{
	left: 15px;
	transition: 0.5s ease-in-out;
	position: relative;
	color: skyblue;
	transition: 0.6s;
}
.fa{
	padding-right: 15px;
}
.footer-bg{
	background-color: black;
	background-size: cover;
}
.footer-bg p{
	color: #fff;
	font-size: 13px;
	line-height: 20px;
}


.newsletter-opacity{
	-webkit-background: rgba(0,0,0,.4);
	-moz-background: rgba(0,0,0,.4);
	-o-background: rgba(0,0,0,.4);
	background: rgba(0,0,0,.4);
	padding: 60px 0px;
}




/* Mediaq Query Start */
/* For Mobile Device */
